{% extends 'base.html' %}

{% block content %}

<h2>Student Details</h2>

<table class="table table-bordered">

    <tr>
        <th>Registration Number</th>
        <td>{{ student.registration_number }}</td>
    </tr>

    <tr>
        <th>First Name</th>
        <td>{{ student.first_name }}</td>
    </tr>

    <tr>
        <th>Last Name</th>
        <td>{{ student.last_name }}</td>
    </tr>

    <tr>
        <th>Gender</th>
        <td>{{ student.gender }}</td>
    </tr>

    <tr>
        <th>Email</th>
        <td>{{ student.email }}</td>
    </tr>

    <tr>
        <th>Phone</th>
        <td>{{ student.phone }}</td>
    </tr>

    <tr>
        <th>Course</th>
        <td>{{ student.course }}</td>
    </tr>

    <tr>
        <th>Year</th>
        <td>{{ student.year }}</td>
    </tr>

</table>

<a href="/students/" class="btn btn-secondary">
    Back
</a>

<a href="/update/{{ student.id }}/" class="btn btn-warning">
    Edit
</a>

{% endblock %}